src/Schemas/absence.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="results">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="absence">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="hranice"/>
              <xs:element name="seznam">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="abs" maxOccurs="unbounded" minOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:int" name="datum"/>
                          <xs:element type="xs:string" name="den"/>
                          <xs:element type="xs:deicmal" name="A"/>
                          <xs:element type="xs:deicmal" name="AOk"/>
                          <xs:element type="xs:deicmal" name="AMiss"/>
                          <xs:element type="xs:deicmal" name="ALate"/>
                          <xs:element type="xs:deicmal" name="ASoon"/>
                          <xs:element type="xs:deicmal" name="ASchool"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="zameskanost">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="nadpis"/>
                    <xs:element name="predmet" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="nazev"/>
                          <xs:element type="xs:deicmal" name="oduceno"/>
                          <xs:element type="xs:deicmal" name="absbase"/>
                          <xs:element type="xs:deicmal" name="absschool"/>
                          <xs:element type="xs:deicmal" name="abssoon"/>
                          <xs:element type="xs:deicmal" name="abslate"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:integer" name="result"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>