src/Schemas/subjects.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="results">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="predmety">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="predmet" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="nazev"/>
                    <xs:element type="xs:string" name="zkratka"/>
                    <xs:element type="xs:string" name="kod_pred"/>
                    <xs:element type="xs:string" name="ucitel"/>
                    <xs:element type="xs:string" name="zkratkauc"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:integer" name="result"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>